[user]
	email = 103426213+Natan13vinicius@users.noreply.github.com
	name = Natan-devfront
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
